<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:macro name="mobile_base_ros2_control" params="ifname use_gazebo:=^|false">

        <ros2_control name="mobile_base_ros2_control" type="system">

            <hardware>
                <xacro:if value="${use_gazebo}">
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </xacro:if>
                <xacro:unless value="${use_gazebo}">
                    <plugin>myactuator_hardware_interface/MyActuatorHardwareInterface</plugin>
                    <param name="ifname">${ifname}</param>
                    <param name="timeout">1000</param>
                    <param name="max_speed">5000</param>
                </xacro:unless>
            </hardware>

            <joint name="base_left_wheel_joint">
                <xacro:if value="${use_gazebo}">
                    <command_interface name="velocity"/>
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
                </xacro:if>
                <xacro:unless value="${use_gazebo}">
                    <param name="can_id">1</param>
                    <param name="reducer_ratio">6.2</param>
                    <param name="speed_constant">30</param>
                    <param name="torque_constant">0.29</param>
                    <param name="rotor_inertia">3400</param>
                    <param name="position_acceleration">20000</param>
                    <param name="position_deceleration">20000</param>
                    <param name="velocity_acceleration">20000</param>
                    <param name="velocity_deceleration">20000</param>
                    <param name="kp_current">100</param>
                    <param name="ki_current">100</param>
                    <param name="kp_speed">100</param>
                    <param name="ki_speed">50</param>
                    <param name="kp_position">100</param>
                    <param name="ki_position">0</param>
                </xacro:unless>
            </joint>

            <joint name="base_right_wheel_joint">
                <xacro:if value="${use_gazebo}">
                    <command_interface name="velocity"/>
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
                </xacro:if>
                <xacro:unless value="${use_gazebo}">
                    <param name="can_id">2</param>
                    <param name="reducer_ratio">6.2</param>
                    <param name="speed_constant">30</param>
                    <param name="torque_constant">0.29</param>
                    <param name="rotor_inertia">3400</param>
                    <param name="position_acceleration">20000</param>
                    <param name="position_deceleration">20000</param>
                    <param name="velocity_acceleration">20000</param>
                    <param name="velocity_deceleration">20000</param>
                    <param name="kp_current">100</param>
                    <param name="ki_current">100</param>
                    <param name="kp_speed">100</param>
                    <param name="ki_speed">50</param>
                    <param name="kp_position">100</param>
                    <param name="ki_position">0.0</param>
                </xacro:unless>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>