<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="velocity_alpha" default="0.4" />
    <xacro:arg name="effort_alpha" default="0.4" />
    <xacro:arg name="torque_constant" default="2.6" />

    <!-- Import ros2_control -->
    <xacro:include filename="$(find myactuator_rmd_description)/urdf/myactuator_rmd.ros2_control.xacro" />
    <xacro:macro name="tail_ros2_control" params="prefix ifname use_simulation:=^|false">

    <!-- ros2_control configuration -->
    <xacro:myactuator_rmd_ros2_control name="${prefix}tail_base_shoulder_ros2_control" joint_name="${prefix}tail_base_shoulder_joint" simulation="${use_simulation}"
                                       ifname="${ifname}" actuator_id="3"
                                       velocity_alpha="$(arg velocity_alpha)" effort_alpha="$(arg effort_alpha)"
                                       torque_constant="$(arg torque_constant)"/>

    <xacro:myactuator_rmd_ros2_control name="${prefix}shoulder_arm_ros2_control" joint_name="${prefix}shoulder_arm_joint" simulation="${use_simulation}"
                                       ifname="${ifname}" actuator_id="4"
                                       velocity_alpha="$(arg velocity_alpha)" effort_alpha="$(arg effort_alpha)"
                                       torque_constant="$(arg torque_constant)"/>

    <xacro:myactuator_rmd_ros2_control name="${prefix}arm_forearm_ros2_control" joint_name="${prefix}arm_forearm_joint" simulation="${use_simulation}"
                                       ifname="${ifname}" actuator_id="5"
                                       velocity_alpha="$(arg velocity_alpha)" effort_alpha="$(arg effort_alpha)"
                                       torque_constant="$(arg torque_constant)"/>
    </xacro:macro>
</robot>