<?xml version="1.0" ?> 
<robot name="rhacobot" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:property name="package_name" value="rhacobot_description"/>

<xacro:include filename="$(find ${package_name})/urdf/include/gazebo_macros.xacro" />

<xacro:gazebo_default name="base_link"
            color="Gazebo/Silver"/>

<xacro:gazebo_default name="wheel_right" 
            color="Gazebo/Grey"/>
<xacro:gazebo_default name="wheel_left" 
            color="Gazebo/Grey"/>

<xacro:gazebo_default name="tail_joint_a"
            color="Gazebo/blue"/>
<xacro:gazebo_default name="tail_joint_b" 
            color="Gazebo/Orange"/>
<xacro:gazebo_default name="c tail_joint_c"
            color="Gazebo/Green"/>
<xacro:gazebo_default name="wheel_tail"
            color="Gazebo/Grey"/>

</robot>