<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rhacobot_urdf">
  
  <!-- parameters -->
  <xacro:arg name="use_sensors" default="true" />
  <xacro:arg name="use_simulation" default="false" />
  <xacro:arg name="use_controllers" default="true" />

 <!-- Import Common poperties-->
    <xacro:include filename="$(find rhacobot_description)/urdf/common_properties.xacro" />

  <!-- Import Rhacobot mobile base -->
  <xacro:include filename="$(find rhacobot_description)/urdf/mobile_base.xacro" />

  <!-- Import Rhacobot tail -->
  <xacro:include filename="$(find rhacobot_description)/urdf/tail.xacro" />

  <xacro:if value="$(arg use_sensors)">
    <xacro:include filename="$(find rhacobot_description)/urdf/sensors.xacro" />
  </xacro:if>

  <xacro:if value="$(arg use_simulation)">
    <xacro:include filename="$(find rhacobot_simulation)/xacro/rhacobot.gazebo.xacro" />
  </xacro:if>

  <!-- controller manager and hardware interfaces -->
  <xacro:if value="$(arg use_controllers)">
    <xacro:include filename="$(find rhacobot_control)/xacro/rhacobot.ros2_control.xacro" />
  </xacro:if>
  
  <link name="base_link" />

</robot>